* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #161616 !important;
}
  
a {
  color: #800000;
  text-decoration: none !important;
}
  
a:hover {
  color: #af0000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif !important;
}

section {
  padding: 0;
  margin: 0;
}

.container {
  width: 100% !important;

}
  
/* ===== HEADER ===== */
#header {
  background: #ffffff;
  transition: all 0.5s;
  z-index: 999;
  padding: 18px 0;
  position: fixed;
  box-shadow: 0 4px 6px 0  hsla(0, 0%, 0%, 0.1);
}

#header .logo img {
  max-height: 40px;
}

/* ===== NAVIGATION BAR ===== */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.nav-menu > ul {
  display: flex;
}
  
.nav-menu > ul > li {
  position: relative;
  white-space: normal;
  padding: 10px 0 10px 30px;
}
  
.nav-menu a {
  display: block;
  position: relative;
  color: #161616;
  transition: 0.4s;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: none;
  font-weight: 400;
}
  
.nav-menu a:hover {
  color: #af0000;
  text-decoration: none;
}

/* ===== WELCOME ===== */
#welcome {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #ffffff;
  padding: 0;
}

#welcome::before {
  content: "";
  background-image: url(/images/banner1.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
  
#welcome h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  line-height: 45px;
  color: #131313;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 30px;
  padding-bottom: 10px;
}
  
#welcome h2 {
  font-family: 'Raleway', sans-serif;
  color: #131313;
  margin: 5px 0 10px 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

#welcome .button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.4s;
  margin: 10px 0 0 0;
  color: #ffffff;
  background: #800000;
  text-transform: none;
  text-decoration: none;
  font-weight: 500;
}
  
#welcome .button:hover {
  background: #af0000;
}

.overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  padding-bottom: 60px;
  z-index: 5;
  display: block;
  width: 100%;
}

/* Mobile view*/
@media only screen and (max-width: 1025px) {
  #welcome {
    text-align: center;
  }

  #welcome h1 {
    font-size: 40px;
    line-height: 43px;
    margin-top: 20px;
  }

  .overlay {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
  
/* ===== SECTIONS ===== */
section {
  width: 100%;
  padding: 30px;
  padding-top: 50px;
}
  
.section-bg {
  background-color: #f3f3f3;
}
  
.section-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
  
.section-title h2 {
  font-size: 38px;
  font-weight: 700;
  text-transform: none;
  padding-bottom: 10px;
  color: #800000;
}

.section-title h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-transform: none;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #800000;
}
  
.section-title p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.section-title #lead {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  line-height: 35px;
  margin-bottom: 60px;
}
    
.section-title ul li {
  padding: 0 0 15px 0;
  display: flex;
  align-items: center;
}
    
.section-title a {
  color: #161616;
  transition: 0.4s;
  font-family: "Raleway", sans-serif !important;
}
    
.section-title a:hover {
  color: #af0000;
  text-decoration: none;
}

/* Cards */
.card1 {
  border-top: 5px solid #af0000;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.1);
}

.cardeu {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.1);
}

/* Mobile view */
@media only screen and (max-width: 1025px) {

  .section-title h3, .section-title p, .section-title #lead, .section-title #contact {
    text-align: center !important;
  }
}


/* ===== FOOTER ===== */
#footer {
  text-align: center;
  background: #800000;
}

#footer .copyright {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #ffffff;
}